* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.small-video {
  /* margin-top: -00px; */
  height: 200px;
  width: 350px;
  margin-top: 180px;
  /* margin-bottom: 100px; */
  margin-left: 60px;
}
.img-one {
  margin-top: -280px;
  /* position: relative; */
  height: 350px;
  width: 470px;
}
.white {
  color: white;
}
.second-video {
  position: absolute;
  height: 200px;
  margin-left: 90px;
  margin-top: 23px;
  width: 290px;
}
.img-three {
  width: 470px;
  height: 350px;
  position: relative;
}
.img-two {
  /* margin-top: -280px; */
  height: 333px;
  width: 444px;
}
.img-four {
  height: 333px;
  width: 444px;
}
