.input-label {
  color: white;
  position: relative;
}
#label {
  color: rgb(207, 204, 204);
  position: absolute;
  left: 15px;
  top: 17px;
  font-size: 14px;
  font-family: sans-serif;
  transition: 200ms ease;
  width: 120px;
}
#input:focus + #label,
#input:not(:placeholder-shown) + #label {
  transform: translateY(-5px);
  font-size: x-small;
}
input {
  padding: 25px 0 5px 15px;
}
